@model UserViewModel

@{
    ViewData["Title"] = "DoctorDetails";
}

<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10"><h1>Doctor</h1><hr /></div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <form class="form" action="##" method="post" id="registrationForm">
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="name" class="h4">Volledige naam</label>
                                <p>@Model.Doctor.Name</p>
                            </div>
                        </div>

                        @if (Model.Doctor.PrivMail)
                        {
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="email" class="h4">Email</label>
                                    <p>@Model.Doctor.Email</p>
                                </div>
                            </div>
                        }

                        @if (Model.Doctor.PrivPhonenumber)
                        {
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="phonenumber" class="h4">Telefoonnummer</label>
                                    <p>@Model.Doctor.Phone</p>
                                </div>
                            </div>
                        }

                        <div class="form-group">
                            <div class="col-xs-12">
                                <label for="treatments" class="h4">Uitvoerbare behandelingen</label>
                                @foreach (var Type in Model.Doctor.TreatmentTypes)
                                {
                                    <option>@Type.Name</option>
                                }
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-3">
                                <button type="submit" class="btn btn-primary btn-block" asp-action="index" asp-controller="patient">Terug</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                </div>
            </div><!--/tab-pane-->
        </div><!--/tab-content-->
    </div><!--/col-9-->
</div><!--/row-->