@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Webapp</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/custom.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
        <link rel="stylesheet" href="//cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container" style="width:100%">
        <div class="row">
            <div class="col-sm-3 col-xs-12" style="padding:0;">
                <div class="nav-side-menu" style="width:inherit;">
                    <div class="brand">Brand Logo</div>
                    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

                    <div class="menu-list">

                        <ul id="menu-content" class="menu-content collapse out">
                            <li>
                                <a href="#">
                                    <i class="fa fa-dashboard fa-lg"></i> Dashboard
                                </a>
                            </li>
                            @if (Context.User.IsInRole("admin"))
                            {
                                <li data-toggle="collapse" data-target="#departments" class="collapsed">
                                    <a href="#"><i class="fa fa-hospital-o fa-lg"></i> Afdelingen <span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="departments">
                                    <li><i class="fa fa-area-chart fa-lg"></i> Overzicht</li>
                                    <li><i class="fa fa-users fa-lg"></i> Nieuwe toevoegen</li>
                                </ul>
                                <li data-toggle="collapse" data-target="#typeTreatment" class="collapsed">
                                    <a href="#"><i class="fa fa-heartbeat fa-lg"></i> Type behandelingen <span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="typeTreatment">
                                    <li><i class="fa fa-bar-chart fa-lg"></i> Overzicht</li>
                                    <li><i class="fa fa-medkit fa-lg"></i> Nieuwe toevoegen</li>
                                </ul>
                                <li data-toggle="collapse" data-target="#doctors" class="collapsed">
                                    <a href="#"><i class="fa fa-user-md fa-lg"></i> Artsen <span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="doctors">
                                    <li><i class="fa fa-area-chart fa-lg"></i> Overzicht</li>
                                    <li><i class="fa fa-user-plus fa-lg"></i> Nieuwe toevoegen</li>
                                </ul>
                            }
                            else if (Context.User.IsInRole("doctor"))
                            {
                                <li data-toggle="collapse" data-target="#behandelingen" class="collapsed">
                                    <a href="#"><i class="fa fa-medkit fa-lg"></i> Behandelingen <span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="behandelingen">
                                    <li><i class="fa fa-area-chart fa-lg"></i> Overzicht</li>
                                    <li><i class="fa fa-medkit fa-lg"></i> Nieuwe toevoegen</li>
                                </ul>

                                <li>
                                    <a href="#"><i class="fa fa-bed fa-lg"></i> Patienten</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-hospital-o fa-lg"></i> Afdeling</a>
                                </li>
                            }
                            else if (Context.User.IsInRole("patient"))
                            {
                                <li>
                                    <a href="#"><i class="fa fa-medkit fa-lg"></i> Behandelingen</a>
                                </li>
                            }
                            <hr style="margin:0;" />
                            <li>
                                <a asp-action="profile" asp-controller="home"><i class="fa fa-user fa-lg"></i> Profiel</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-sign-out fa-lg"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-9 col-xs-12">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; 2019 - Webapp</p>
                </footer>
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
