body {
    color:black;
    
}

.row{
    display: flex;
    justify-content:center;
}


.btn {
    width: 20%;
    background-color: #808080;
    color: #E6E6E6;
    border-color: #BFBFBF;
    border-width: 2px;
    padding: 10px;
    margin-bottom:50px;
    margin-top:20px;
}

    .btn:hover {
        background-color: #808080;
        color: #E6E6E6;
        border-color: #404040;
        border-width: 2px;
    }

#buttons{
    padding: 0px;
    margin: auto;
    text-align:center;
    
}

footer{
    margin-top:56.4%;
}
