@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Welcome @ViewData["uname"]</p>
<p>U bent een @ViewData["loginType"]</p>

<p>Use this area to provide additional information.</p>
