@{
    ViewData["Title"] = "Home Page";
}

<form>
Username:<br /> <input type="text" name="username" /><br />
    Password:<br />
    <input type="text" name="password">
    <br />
    <input type="submit" value="Login" asp-action="Login") />
</form>
