
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<h2>Login</h2>
<h2>@ViewData["Message"]</h2>
<h2>@ViewData["username"]</h2>
<h2>@ViewData["password"]</h2>

Verkeerd wachtwoord, log opnieuw in